.page-template-page-engagements {
    @include large-desktop {
        background-position-y: 460px, 1344px, 3086px;
        background-position-x: 130%, -30%, 130%;
        background-repeat: no-repeat;
        background-size: 60vw;
    }

    overflow-x: hidden;
}


$num: 4;

@while $num>0 {
    .engagements-col-#{$num} {
        @include large-desktop {
            &::before {
                content: #{var(--my-word-to-call-#{$num})
            }
        }
    }
}

$num: $num - 1;
}

.engagements {
    &-col {

        @include large-desktop {
            margin-bottom: $l-gap;
        }

        &::before {
            width: max-content;
            font-size: rem(102px); 
            color: $color__green;
            position: absolute;
            color: $color__green;
            opacity: .15;
            font-weight: $font_weight__extrabold;
        }

        &:nth-child(odd) {
            .engagements-item {
                @include large-desktop {
                    align-items: start;
                }

            }

            .engagements-item-title {
                @include large-desktop {
                    text-align: right;
                }
            }

            .engagements-item_list {
                @include large-desktop {
                    order: 1;
                    margin-left: $xxl-gap;
                }
            }

            &::before {
                @include large-desktop {
                    left: 0;
                }
            }
        }

        &:nth-child(even) {
            .engagements-item-title {
                @include large-desktop {
                    &::after {
                        margin-left: auto;
                    }
                }
            }

            .engagements-item_list {
                @include large-desktop {
                    margin-right: $xxl-gap;
                }
            }

            .engagements-item_description {
                @include large-desktop {
                    text-align: right;
                }
            }

            &::before {
                @include large-desktop {
                    right: 0;
                }
            }
        }
    }

    &-item {

        display: flex;
        flex-direction: column;
        margin-top: $xxxxl-gap;

        @include large-desktop {
            align-items: flex-end;
            margin-top: 110px;
        }

        &_list {
            background-color: $color__white;

            order: 1;

            @include large-desktop {
                order: 0;
            }

            >ul {
                @include reset-list;
                display: flex;
                align-items: center;
                flex-wrap: wrap;
                justify-content: center;
                box-shadow: 2px 2px 7px 1px rgba(0, 0, 0, 0.16);
                padding: $m-gap;

                @include large-desktop {
                    flex-direction: column;
                }

                >li {
                    @include large-desktop {
                        margin-bottom: $xl-gap;
                    }
                }
            }
        }

        &-title {

            position: relative;
            font-weight: $font_weight__semibold;
            font-size: rem(22px);
            color: $color__blue;

            @include large-desktop {
                font-size: rem(34px);
                font-weight: $font_weight__extrabold;
                color: $color__green;
            }

            &::after {
                content: '';
                display: block;
                width: rem(45px);
                height: 2px;
                background-color: $color__blue;
                margin-top: $l-gap;
                margin-bottom: $l-gap;

                @include large-desktop {
                    width: rem(153px);
                }
            }
        }

        &_description {
            @include large-desktop {
                min-width: 500px;
                width: 100%;
            }
        }

        &-content {
            display: flex;
            flex-direction: column;

            @include large-desktop {
                flex-direction: row;
            }
        }
    }

    .cta-button {
        margin: $giga-gap +10 auto 0 auto;
    }
}