$color__black: #000000;
$color__graphite: #707070;
$color__blue: #143351;
$color__green: #72B62E;
$color__white: #ffffff;
$color__light-grey: #d8d8d8;
$color__night: #041C32;
$link__color: #143351;
$link__color-hover: $color__green;


$gradient:  $color__white, $color__blue;