@import '../mixins/functions';
@import '../mixins/mixins';
@import '../variables/colors';
@import '../variables/gaps';

:root {
    &.day {
        body {
            background-color: $color__white;
            color: $color__night;
        }

    }

    &.night {
        body {
            background-color: $color__night;
            color: $color__white;
        }
    }
}

.switch-night-and-day{
    position: relative;
    display: inline-block;
    width: rem(64px);
    border-radius: rem(30px);
    padding: $xs-gap;
    cursor: pointer;
    

    .night &{
        border: 1px solid $color__white;
    }

    .day &{
        border: 1px solid $color__night;
    }
    input{
        @include sr-only;

        &:focus{
            // + .switch-night-and-day-slider{
            //     background-color: #4BA3C3;
            // }
        }

        &:checked{
            + .switch-night-and-day-slider{
                transform: translateX(rem(22px));
            }
        }
    }

    &-slider{
        display: flex;
        align-items: center;
        justify-content: center;
        width: rem(30px);
        height: rem(30px);
        border-radius: 50%;
        transition: transform .5s ease;

        .night &{
            background-color: $color__night;
            color: $color__white;
        }

        .day &{
            background-color: $color__white;
            color: $color__night;

        }
    }
}

