.main-footer {
    padding: $giga-gap;
    background-color: $color__blue;
    color: $color__white;
    font-weight: $font_weight__medium;
    margin-top: $giga-gap + 10;

    @include large-desktop {
        display: flex;
        justify-content: space-evenly;
        align-items: flex-start;
    }

    .home & {
        margin-top: 0;
    }

    &_logo{
        width: rem(105px);
    }

    &_col {
       
        font-size: rem(14px);
        text-align: center;
        margin-bottom: $xxxl-gap;

        @include large-desktop {
            min-width: rem(90px);
            text-align: start;
            margin-bottom: $xxxl-gap;
        }

        @include x-large-desktop{
            min-width: rem(250px);
        }

        &--border {
            margin-bottom: 0;
            @include xx-large-desktop {
                border-right: 1px solid $color__white;
            }
        }

        ul {
            @include reset-list;

            >li {
                margin-bottom: $xs-gap;
                @include large-desktop {
                    margin-bottom: $xl-gap;
                }
            }
        }

        a:not(.cta-button) {
            color: $color__white;
            text-decoration: none;
        }

        .cta-button {
            font-size: rem(12px);
        }

        &:last-child{
            margin-bottom: 0;
        }
    }
}

.otgs-development-site-front-end{
    display: none;
}