a,
button {
    &.cta-button {
        @include cta-button;
    }
}

.cta-buttons-container {
    margin-top: $giga-gap;
    text-align: center;

    .cta-button {
        @include large-desktop {
            margin-right: $giga-gap + 10;
        }

        &:first-child{
            margin-bottom: $xl-gap;

            @include tablet{
                margin-bottom: 0;
            }
        }
        
        &:last-child {
            @include large-desktop {
                margin-right: 0;
            }
        }
    }
}