.hero {

    .container {
        position: relative;
    }

    &-media {
        position: relative;

        @include mobile{
            min-height: 500px;
        }

        &-image,
        &-video {
            &::after {
                content: '';
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                background: rgb(20, 51, 81, .7);
                mix-blend-mode: normal;
            }
        }

        &-video {
            &::after {
                bottom: auto;
                height: calc(100% - 5px);

                @include mobile{
                    height: 100%;
                }
            }
        }
    }

    &-image,
    &-video {
        margin: 0;
    }

    &-image img,
    &-video {
        width: 100%;
        aspect-ratio: 1/1;
        object-fit: cover;

        @include safari {
            @include mobile {
                height: rem(490px);
            }
        }

        @include mobile{
            position: absolute;
            height: 100%;
        }

        @include tablet {
            aspect-ratio: 2/1;
        }

        @include xx-large-desktop {
            aspect-ratio: 28/7;

            .home & {
                aspect-ratio: 28/11;
            }
        }
    }

    &-image img.grayscale-img{
        filter: grayscale(100%);
    }

    &-content {
        position: absolute;
        z-index: 1;
        bottom: $xxxl-gap;
        padding: 0 $m-gap;

        @include large-desktop{
            padding: 0;
        }

        &_catch {
            color: $color__white;
            font-size: rem(24px);
            font-weight: $font_weight__medium;
            line-height: rem(35px);
            text-shadow: 2px 2px 2px $color__black;
            margin: 0;

            @include large-desktop {
                font-size: rem(37px);
                line-height: rem(45px);
            }

            &-word {
                text-transform: uppercase;
                display: block;
                margin-top: $m-gap;


                @include large-desktop {
                    -webkit-text-stroke: 1px $color__white;
                    -webkit-text-fill-color: transparent;
                    color: transparent;
                    font-family: sans-serif;
                    font-size: rem(82px);
                    line-height: rem(82px);
                    text-shadow: none;
                    font-weight: $font_weight__bold;
                }
            }
        }
    }

    &-icon {
        width: 77px;
        display: none;

        @include large-desktop {
            display: inline-block;
        }
    }
}