.responsibility-engagements {

    margin: $giga-gap + 20 0 0 0;
    color: $color__white;

    >.container {
        padding-top: $xxl-gap;
        padding-bottom: $xxl-gap;
        background-color: $color__green;

        @include large-desktop {
            background-image: url('#{$img-public-path}/background-leaf_white.svg'),
            url('#{$img-public-path}/background-leaf_white.svg');
            background-position-y: 140%, -40%;
            background-position-x: -30%, 130%;
            background-repeat: no-repeat;
        }
    }

    .title {
        color: $color__white;
        margin-bottom: $xxl-gap;
        &-icon{
            display: none;

            @include large-desktop{
                display: inline-block;
            }
        }
    }

    &_lists{
        padding: $xxl-gap;
        margin-bottom: $xxxl-gap;
        background: rgba(255, 255, 255, .8);
        box-shadow: 2px 2px 7px 1px rgba(0, 0, 0, 0.16);

        @include large-desktop{
            margin-bottom: 0;
        }
    }

    &_list {
        @include reset-list();
        display: flex;
        align-items: center;
        justify-content: center;

        &-item{
            margin-right: $s-gap;
            display: flex;
            justify-content: center;

            &:last-child{
                margin-right: 0; 
            }


            img{
                height: 100%;
            }
        }

        &-block {
            margin-bottom: $m-gap;
            &-title{
                font-size: rem(12px);
                font-weight: $font_weight__bold;
                color: $color__blue;
                text-transform: uppercase;
                text-align: center;
                margin-bottom: $m-gap;
            }
        }
    }


    &-description{
        line-height: rem(25px);

        @include large-desktop{
            font-size: rem(18px);
            line-height:  rem(32px);
            margin-bottom: $xxxl-gap;
        }
    }

    strong,b{
        #main-content &{
            color: $color__white;
        }
    }
}